<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KeywordManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <KeywordManager.Properties.Settings>
            <setting name="mostRecetFile" serializeAs="String">
                <value />
            </setting>
            <setting name="mostRecentExportDir" serializeAs="String">
                <value />
            </setting>
            <setting name="xEditDir" serializeAs="String">
                <value>F:\Skyrim SE\Tools\SSEEdit 4_x\Edit Scripts</value>
            </setting>
            <setting name="lastTab" serializeAs="String">
                <value>0</value>
            </setting>
        </KeywordManager.Properties.Settings>
    </userSettings>
</configuration>